<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %}<a href="{{ url_for('index')}}"></a>Aura International Christian School - Growing to Glow</a>{% endblock %}</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <!-- Block for additional page-specific CSS files -->
    {% block css %}
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    {% include 'navbar.html' %}

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Load JavaScript (optional) -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
