<nav class="navbar"> 
    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='/images/logo.png') }}" alt="School Logo" class="navbar__logo"></a>
    <a href="{{ url_for('index') }}">Aura International Christian School</a>
    <!-- Right Section: Navigation Links, Dropdown, Buttons, and Toggle -->
    <ul class="nav-links">
        <li class="navbar__item">
            <a href="{{ url_for('index') }}" class="navbar__links">Home</a>
        </li>
        <li class="navbar__item">
            <a href="{{ url_for('events') }}" class="navbar__links">Events</a>
        </li>
        <li class="navbar__item">
            <a href="{{ url_for('about') }}" class="navbar__links">About Us</a>
        </li>
        <li class="navbar__item">
            <a href="{{ url_for('contact') }}" class="active">Contact Us</a>
        </li>
        <li>
            <a href="{{ url_for('about') }}" class="cta-button">Get Started</a>
        </li>
    </ul>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    
    <script src="{{ url_for('static', filename='animate.js')}}"></script>
</nav>

